<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="./scr/icono.png" type="img-pagina" />
    <link rel="stylesheet" href="../css/createP.css">
    <title> Actividad Calificable </title>

</head>


 

<body>

            <header class="caja">
                <div class="caja">
                    <img src="./scr/u-distrital.png" class="universidad" alt="Logo u-distrital">
                    <h3> -Actividad Calificable UNIDAD 14 -</h3>
                    
                </div>
               
            </header>


        
        
<!--*************************************************************************************************************************************-->    
     <!--PRIMER FORMULARIO PACIENTES -->
<main style="
    width: 1000px;
    height: 800px;
">     
    <section id="primer">
        <form action="/salvar" method="POST" class="form" id="formulario" >
            <p class="title">Registro Paciente</p>
            <p class="message">Complete los campos requeridos </p>
        

         <!--Nombre-->   
        <label for="pacientenombre" >
            <input placeholder="" type="text" class="input"  id="nombre" name="nombre" required pattern="[A-Za-z]+" title="Ingrese solo letras">
            <span>Nombre</span>
        </label>
     

          <!--numero cédula-->
          <label for="pacientecedula">
            <input placeholder="" type="text" class="input" id="ncedula" name="ncedula"  required pattern="\d{10}" title="Ingrese un número de cédula válido (10 dígitos numéricos)">
            <span>Numero Cédula</span>
        </label>
        
        <!--apellido-->
        <label for="pacienteapellido">
            <input  placeholder="" type="text" class="input"  id="apellido" name="apellido"  required pattern="[A-Za-z]+" title="Ingrese solo letras">
            <span>Apellido</span>
        </label>

  
        <!--Edad-->   
        <label for="consultorio">
            <input  placeholder="" type="number" class="input" id="edad" name="edad"  required pattern="^(?:[1-9][0-9]?|1[01][0-9]|120)$" title="Ingrese una edad válida (entre 1 y 120 años)">
            <span>Edad</span>
        </label>
   
    <!--Telefono-->   
    <label  for="email">
        <input  placeholder="" type="number" class="input" id="telefono" name="telefono" required pattern="^(?:[0-9]\x20?){6,14}[0-9]$" title="Ingrese un número de teléfono válido en formato local. Ejemplo: 123 4567890">
        <span>Telefono</span>
    </label>


<!--BOTONES-->
    <button class="btn btn-primary mt-2" type="submit">Guardar Paciente</button>
    <a href="/" class="btn btn-secondary">Cancelar</a>
    <button class="buttonD" type="button" onclick="reiniciarFormulario()">Reiniciar</button>

    
</form>

<br>

            
</section>    

 

</main>





<footer class="footer">
    <p class="attr">
      Actividad Calificable <span class="accent">:</span> <a href="https://aulasvirtuales.udistrital.edu.co/" class="attr-lnk" target="_blank">
        Universidad Distrital </a> y <a href="https://agenciaatenea.gov.co/" class="attr-lnk" target="_blank">Agencia Atenea</a> - Codigo por 
        <a href="https://github.com/AndreBacks?tab=repositories" class="attr-lnk" target="_blank">Andrea Castellanos</a>

    </p>
    
  </footer>


    
</body>
<!-- <script src="pagina.js"></script> -->

</html>
